@import "tailwindcss";

/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
}

@layer utilities {
  :where(.btn) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .7rem;
    line-height: 1.2;
    min-height: 2.5rem;
  }
} */

.web-content-padding {
  padding-left: 6rem;
  padding-right: 6rem;
}